/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: lightblue;
    color: black;
    padding: 1em;
    text-align: center;
}

/* Navigation styles */
nav {
    position: relative;
    width: 100%; /* Ensure nav spans the full width of the page */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%; /* Ensure nav spans the full width of the page */
}

ul li {
    position: relative;
    margin: 0 0.9375em; /* 15px to em */
    flex-grow: 1;
}

ul li div {
    display: flex;
    width: 100%;
    justify-content: center;
}

.dropdown {
    display: inline-block;
    justify-content: center;
}

.dropdown button {
    background-color: grey;
    color: white;
    padding: 0.625em 0.9375em; /* 10px 15px to em */
    border: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 0.625em 0.9375em; /* 10px 15px to em */
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color: aqua;
    min-width: 6.25em; /* 100px to em */
    box-shadow: 0.125em 0.125em 0.3125em; /* 2px 2px 5px to em */
}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover button {
    background-color: darkgray;
}

.dropdown a {
    background-color: darkgray;
}

/* Image styles */
#Home_car {
    display: block;
    max-width: 100%;
    height: auto;
}

/* For Forms */
form, div label, div input {
    display: flex;
    flex-direction: column;
    width: 31.25em; /* 500px to em */
    margin: auto;
}

form label, form input, form select, form button {
    margin: 0.3125em 0; /* 5px to em */
}

.form-buttons, #return-button {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.form-buttons button, #return-button {
    flex: 1;
    padding: 0.625em; /* 10px to em */
    margin: 0.625em; /* 10px to em */
}

#submit-button, #submit-payment, #return-button {
    background-color: lightgreen;
}

#reset-button {
    background-color: pink;
}

.hidden {
    display: none;
}

#login-form {
    display: flex;
    flex-direction: column;
    width: 31.25em; /* 500px to em */
    margin: auto;
    padding: 6.25em; /* 100px to em */
}

#login-button, #submit-button {
    background-color: lightgreen;
    padding: 1.875em; /* 30px to em */
    margin: 3.125em; /* 50px to em */
}

#create-button {
    background-color: lightskyblue;
    padding: 1.875em; /* 30px to em */
    margin: 3.125em; /* 50px to em */
}
